# Mac and MATLAB
.DS_Store
*.m~

# Swap files
*.swp

# Builds
build/
debug/
release/

# Documentation
doc/doxygen/html/
doc/doxygen/latex/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
.pytest_cache/

# Test outputs
test_output.*
**/test_output.*
